/images
/labels
/BBBC006_v1_counts.csv
/index.csv
/BBBC006_v1_images_z_00
/BBBC006_v1_images_z_01
/BBBC006_v1_images_z_02
/BBBC006_v1_images_z_03
/BBBC006_v1_images_z_04
/BBBC006_v1_images_z_05
/BBBC006_v1_images_z_06
/BBBC006_v1_images_z_07
/BBBC006_v1_images_z_08
/BBBC006_v1_images_z_09
/BBBC006_v1_images_z_10
/BBBC006_v1_images_z_11
/BBBC006_v1_images_z_12
/BBBC006_v1_images_z_13
/BBBC006_v1_images_z_14
/BBBC006_v1_images_z_15
/BBBC006_v1_images_z_16
/BBBC006_v1_images_z_17
/BBBC006_v1_images_z_18
/BBBC006_v1_images_z_19
/BBBC006_v1_images_z_20
/BBBC006_v1_images_z_21
/BBBC006_v1_images_z_22
/BBBC006_v1_images_z_23
/BBBC006_v1_images_z_24
/BBBC006_v1_images_z_25
/BBBC006_v1_images_z_26
/BBBC006_v1_images_z_27
/BBBC006_v1_images_z_28
/BBBC006_v1_images_z_29
/BBBC006_v1_images_z_30
/BBBC006_v1_images_z_31
/BBBC006_v1_images_z_32
/BBBC006_v1_images_z_33
/BBBC006_v1_labels
/CompressAndIndex.m
/ReadTiff.m
/WriteTiff.m
/masks